
body {
    background: #556113;
    font-family: Arial;
}
h1 {
    color: red;
}
/* VvBUPpaIDFryXtQiILMzxHxtpJMbjLjCD0BXo9W6phy7jcc0LnR8tGuTDBIcd2FQuL9cQoq8fmxK0duIYSVkHoRHpHY1aZbWsNYIHaqGoohNRO8OFd8lPq4YlRJhS3lYzp4Gry3IE6FRaT2YvxMJOVpsd4QqfbKI3em0ti2TkqKfi50rByOX1lEfdTOmt4oMDhS0yWkU */
